<h3>Editing Grade for <%= @grade.user.first_name %> <%= @grade.user.last_name %></h3>

<%= form_for :grade, url: grade_path(@grade), method: :patch do |f| %>
  <% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@grade.errors.count, "error") %> prohibited
        this grade from being saved:
      </h2>
      <ul>
        <% @grade.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :score %><br>
    <%= f.text_field :score %>
  </p>
  <p>
    <%= f.label :max_score %><br>
    <%= f.text_field :max_score %>
  </p>
	<p>
		<%= f.label :course_id %><br/>
		<%= f.collection_select :course_id, Course.where(:instructor_id => current_user.id).order(:title),:id,:title, :include_blank => true %>
	</p>
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
