<div class='well'>
	<h3>Author Details</h3>
	<table class='table table-striped'>
		<tr>
			<th>Name</th>
			<td><%= @person.full_name %></td>
		</tr>
		<tr>
			<th>Total Books</th>
			<td><%= @person.books.count %></td>
		</tr>
		<tr>
			<th>Books</th>
			<td>
				<% if @person.books.empty? %>
					<em>No books here</em>
				<% else %>
					<ul>
						<% @person.books.each do |book| %>
							<li><%= link_to book.title, book_path(book) %></li>
						<% end %>	
					</ul>
				<% end %>
			</td>
		</tr>
		<tr>
				<% if user_signed_in? and current_user.librarian? %>
					<td>
						<%= link_to 'Edit', edit_person_path(@person), class: 'button-xs' %><br/>
						<%= link_to 'Delete', person_path(@person),
									class: 'button-xs',
									method: :delete,
									data: { confirm: "Delete '#{@person.full_name}'?" } %>
					</td>
				<% end %>
		</tr>
	</table>
</div>
