<style>
	select{ width: 10em; }
</style>

<td>
	<%= "#{user.first_name} #{user.last_name}" %>
</td>
<td>
  <%= link_to user.email, user %>
</td>
<% if not mobile_device? %>
	<td id="role-<%= user.id %>">
		<%= render 'role' %>
	</td>
	<td id="department-<%= user.id %>">
		<%= render 'department' %>
	</td>
<% end %>
<td>
	<% if user != current_user %>
		<% if mobile_device? %>
			<%= link_to("", user_path(user), :data => { :confirm => "Delete #{user.first_name} #{user.last_name}?" }, :method => :delete, :class => 'glyphicon glyphicon-trash') %>
		<% else %>
			<%= link_to("Delete User", user_path(user), :data => { :confirm => "Delete #{user.first_name} #{user.last_name}?" }, :method => :delete, :class => 'button-xs') %>
		<% end %>
	<% else %>
		--
	<% end %>
</td>
