<style>
	div#collapse1 table{ margin: 0 auto; }
	div#collapse1 td { padding: 0 10px; }
	div#collapse1 select, div#collapse1 input.field{ width: 10em}
</style>

<div class='panel-group' id='accordion'>
	<div class='panel panel-default'>
		<div class='panel-heading'>
			<h4 class='panel-title' style='text-align:center'>				
				<a data-toggle='collapse' data-parent='#accordion' href='#collapse1'>Search Form</a>
			</h4>
		</div>
		<div id='collapse1' class="<%= @collapse ? 'panel-collapse collapse in' : 'panel-collapse collapse' %>">
			<div class='panel-body'>
				<%= search_form_for @q, url: search_users_path, method: :post do |f| %>
					<table class="<%= (mobile_device?) ? '' : 'desktop' %>">	
						<tr>
							<td><%= f.label 'First Name' %></td>
							<td><%= f.search_field :first_name_cont, :class => 'field' %></td>
						</tr>
						<tr>
							<td><%= f.label 'Last Name' %></td>
							<td><%= f.search_field :last_name_cont, :class => 'field' %></td>
						</tr>
						<tr>
							<td><%= f.label 'Email' %></td>
							<td><%= f.search_field :email_cont, :class => 'field' %></td>
						</tr>
						<tr>						
							<td><%= f.label 'Department' %></td>
							<td><%= f.select :department_id_eq, options_from_collection_for_select(Department.all, 'id', 'title', @q.department_id_eq), :style => 'display:inline-block;width:100%',:include_blank => true %></td>
						</tr>
					</table><br/>
					<span style="width:100%;text-align:center;display:inline-block;"><%= f.submit "Search", :class => 'btn btn-primary'%></span>
				<% end %>
			</div>
		</div>
	</div>
</div>
<div class="well">
	<h3 style="text-align:center">Users</h3>
	<% if mobile_device? %>
		<table class='table table-striped'>
			<tr>
				<th>Name</th>
				<th>Email</th>
			</tr>
			<% if @users.empty? %>
				<tr>
					<td><em>No users found</em></td>
				</tr>
			<% else %>
				<% @users.each do |user| %>
				   <tr>
				     <%= render user %>
				   </tr>
				<% end %>
			<% end %>
		</table>
	<% else %>
		<table class='table table-striped'>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Role</th>
				<th>Department</th>
				<th>Delete</th>
			</tr>
			<% if @users.empty? %>
				<tr>
					<td><em>No users found</em></td>
				</tr>
			<% else %>
				<% @users.each do |user| %>
				   <tr id="user-<%= user.id %>">
				     <%= render user %>
				   </tr>
				 <% end %>
			<% end %>
	 </table>
	<% end %>
</div>
