<div class='well'>
	<h3>Departments</h3>
	<% if @departments.empty? %>
		<em>No departments here</em>
	<% else %>
		<table class='table table-striped'>
			<tr>
				<% if not mobile_device? %>
					<th>Abbreviation</th>
				<% end %>
				<th>Title</th>
				<% if not mobile_device? %>
					<th>Courses</th>
					<th>Instructors</th>
					<th>Students</th>
				<% else %>
					<th>Courses/Instructors/Students</th>
				<% end %>
				<th></th>
			</tr>
			<% @departments.each do |d| %>
				<tr>
					<% if not mobile_device? %>
						<td><%= d.abbreviation.upcase %></td>
					<% end %>
					<td><%= link_to d.title, department_path(d) %></td>
					<% if not mobile_device? %>
						<td><%= d.courses.size %></td>
						<td><%= d.users.where('role = ?', 2).size %></td>
						<td><%= d.users.where('role = ?', 1).size %></td>
					<% else %>
						<td><%= "#{d.courses.size}/#{d.users.where('role = ?', 2).size}/#{d.users.where('role = ?', 1).size}" %></td>
					<% end %>
					<td><%= link_to '', edit_department_path(d), class: 'glyphicon glyphicon-wrench' %>
							<%= link_to '', department_path(d),
									class: 'glyphicon glyphicon-trash',
									method: :delete,
									data: { confirm: "Delete '#{d.title}'?" } %>
					</td>
				</tr>
			<% end %>
		</table>
	<% end %>
</div>

<%= link_to 'Create new department', new_department_path %>
