<div class='well'>
	<h3>Departments</h3>
	<% if @departments.empty? %>
		<em>No departments here</em>
	<% else %>
		<table class='table table-striped'>
			<tr>
				<% if not mobile_device? %>
					<th>Abbreviation</th>
				<% end %>
				<th>Title</th>
				<% if not mobile_device? %>
					<th>Instructors</th>
					<% if user_signed_in? and (current_user.admin? or current_user.instructor?) %>
						<th>Students</th>
					<% end %>
				<% else %>
					<% if user_signed_in? and (current_user.admin? or current_user.instructor?) %>
						<th>Instrs./Stdts.</th>
					<% else %>
						<th>Instructors</th>
					<% end %>
				<% end %>
				<% if user_signed_in? and current_user.admin? %>
					<th></th>
				<% end %>
			</tr>
			<% @departments.each do |d| %>
				<tr>
					<% if not mobile_device? %>
						<td><%= d.abbreviation.upcase %></td>
					<% end %>
					<td><%= link_to d.title, department_path(d) %></td>
					<% if not mobile_device? %>
						<td><%= d.users.where('role = ?', 2).size %></td>
						<% if user_signed_in? and (current_user.instructor? or current_user.admin?) %>
							<td><%= d.users.where('role = ?', 1).size %></td>
						<% end %>
					<% else %>
						<% if user_signed_in? and (current_user.instructor or current_user.admin?) %>
							<td><%= "#{d.users.where('role = ?', 2).size}/#{d.users.where('role = ?', 1).size}" %></td>
						<% else %>
							<td><%= "#{d.users.where('role = ?', 2).size}" %></td>
						<% end %>
					<% end %>
					<% if user_signed_in? and current_user.admin? %>
						<td><%= link_to '', edit_department_path(d), class: 'glyphicon glyphicon-wrench' %>
								<%= link_to '', department_path(d),
										class: 'glyphicon glyphicon-trash',
										method: :delete,
										data: { confirm: "Delete '#{d.title}'?" } %>
						</td>
					<% end %>
				</tr>
			<% end %>
		</table>
	<% end %>
</div>
<% if user_signed_in? and current_user.admin? %>
	<%= link_to 'Create new department', new_department_path %>
<% end %>
