<style>
	td,th{ padding: 0 10px; }
	th{ vertical-align:top }
</style>

<div class='well'>
	<h3><%= @publisher.title.humanize %>'s Books</h3>
	<table class='table table-striped'>
		<% if @publisher.books.empty? %>
			<tr><em>No books available</em></tr>
		<% else %>
			<% @publisher.books.each do |book| %>
				<tr>
					<th>Title</th>
					<th>Author(s)</th>
				</tr>
				<tr>
					<td><%= link_to book.title, book_path(book) %></td>
					<td>
						<% book.people.each do |person| %>
							<%= link_to ((book.people.count > 1 and not person == book.people.last) ? "#{person.full_name}, " : person.full_name), person_path(person) %>
						<% end %>
					</td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>

<% if user_signed_in? and current_user.librarian? %>
	<%= link_to 'Edit page', edit_publisher_path(@publisher.id) %><br/>
<% end %>

&#8592; <%= link_to 'Back to Publishers page', publishers_path %>
